[Desktop Entry]
Type=Application
Name=SafeCraker (Blue Team)
Comment=SSH exposure scanner + reporting (authorized use)
Exec=pkexec /opt/ECE/bin/safecraker/SafeCraker
Icon=/opt/ECE/icons/safecraker.png
Terminal=false
Categories=System;Network;Security;
StartupNotify=true


